/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    margin-right: 10px;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar a {
        margin-bottom: 10px;
    }
}


